<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Secreto Dos</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>

    <ion-card-content>
      <ion-card-subtitle>Paso 1</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto2.1.jpeg" />
      <p>Cuando lleguemos a la zona de plataformas pequeñas veremos una plataforma de color diferente esa nos llevara a un conjunto de plataformas que nos llevara a la zona secreta.</p>
      <br>
      <ion-card-subtitle>Paso 2</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto2.0.jpeg" />
      <p>Al Final de la zona de plataformas encontraremos el segundo hueso dorado, y por el mismo camino regresas continuaras con el juego.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="regresar()">
      
      <h2><img src="../../../assets/icon/atras.png" height="25px" alt="">Regresar</h2>
    </ion-title>
  </ion-toolbar>
</ion-footer>




