<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Secreto Uno</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>

    <ion-card-content>
      <ion-card-subtitle>Paso 1</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto1.1.jpeg" />
      <p>Para llegar al Secreto 1 se encuentra después de la segunda plataforma, después de cruzar podremos ver una pila de bloques que sobresalen del escenario, para entrar al area secreta solo es necesario brincar a la pila de bloques y se revelara la zona secreta. </p>
      <br>
      <ion-card-subtitle>Paso 2</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto1.0.jpeg" />
      <p>Dentro de la zona, encontraremos el primer hueso dorado, mas a la derecha veremos unas plataformas que nos llevaran a la salida y prodremos continuar el juego.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="tol">
  <ion-toolbar>
    <ion-title  (click)="regresar()">
      
      <h2><img src="../../../assets/icon/atras.png" height="25px" alt="">Regresar</h2>
    </ion-title>
  </ion-toolbar>
</ion-footer>




