ion-card{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --background: #ffeded86;
    margin: 40px;
    border-radius: 40px;
    width: 440px;
    height: 550px; 
    text-align: center;

}

img{
    height: 40px;
    margin-left: -10vh;
}

ion-content{
    --background: url(../../../assets/integrantes/parque.png)
}
.imagen{
    width: 120px;
    height: 170px;
    margin-left: 0vh;
    margin-top: 2vh;
    border-radius: 5px;
}

ion-toolbar{
    --background:#f9ca36;
}

ion-title{
    color: rgb(0, 0, 0);
    font-family: "Gill Sans", sans-serif;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    
    
    }

.imagen1{
    width: 120px;
    height: 170px;
    margin-left: -1.5vh;
    margin-top: 2vh;
    border-radius: 5px;
}

a{
    margin-left: -14vh;
    font-size: 2.5;
}

ion-card-title{
    color: black;
    font-size: 4vh;
}

ion-card-subtitle{
    color: #3e3d3d;
    font-size: 3.5vh;
}

ion-card-content{
    color: #3e3d3d;
    font-size: 3.2vh;
}