<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Creadores</ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card id="card">
        <img class="imagen1" alt="Silhouette of mountains" src="../../../assets/integrantes/tairon.png " />
        <ion-card-header>
          <ion-card-title>Jason Terreros</ion-card-title>
          <ion-card-subtitle>Diseñado Personajes</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         Redes Sociales
          <br>
          <ion-row>
            <ion-col>
                <img src="../../../assets/icon/instagram.png" height="20px" alt="Los Tejos" />
            </ion-col>
            <ion-col>
              <a title="instagram" href="https://www.instagram.com/jason_terreros/">jason_terreros</a>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col>
                <img src="../../../assets/icon/facebook.png" height="20px" alt="Los Tejos" />
            </ion-col>
            <ion-col>
              <a title="instagram" href="https://www.facebook.com/PITU.terreros">Jason Terreros</a>
            </ion-col>
            
          </ion-row>
          <br>
    
        </ion-card-content>
      </ion-card>
    </ion-slide>
  
    <ion-slide>
      <ion-card id="card">
        <img class="imagen" alt="Silhouette of mountains" src="../../../assets/integrantes/morado.png" />
        <ion-card-header>
          <ion-card-title>Aldair Garcia</ion-card-title>
          <ion-card-subtitle>Programador</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         Redes Sociales
          <br>
          <ion-row>
            <ion-col>
                <img src="../../../assets/icon/instagram.png" height="20px" alt="Los Tejos" />
            </ion-col>
            <ion-col>
              <a title="instagram" href="https://www.instagram.com/jason_terreros/">No lo quiso Pasar</a>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col>
                <img src="../../../assets/icon/facebook.png" height="20px" alt="Los Tejos" />
            </ion-col>
            <ion-col>
              <a title="instagram" href="https://www.facebook.com/profile.php?id=100015113022469">Aldair García</a>
            </ion-col>
            
          </ion-row>
          <br>
    
        </ion-card-content>
      </ion-card>
    
    </ion-slide>
  
    <ion-slide>
      <ion-card id="card">
        <img class="imagen" alt="Silhouette of mountains" src="../../../assets/integrantes/pablo.png" />
        <ion-card-header>
          <ion-card-title>Isaac Ayala</ion-card-title>
          <ion-card-subtitle>Tester</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         Redes Sociales
          <br>
          <ion-row>
            <ion-col>
                <img src="../../../assets/icon/instagram.png" height="20px" alt="Los Tejos" />
            </ion-col>
            <ion-col>
              <a title="instagram" href="https://www.instagram.com/isaac.ayala400/">isaac.ayala400</a>
            </ion-col>
            
          </ion-row>
          <ion-row>
            <ion-col>
                <img src="../../../assets/icon/facebook.png" height="20px" alt="Los Tejos" />
            </ion-col>
            <ion-col>
              <a title="instagram" href="https://www.facebook.com/issac.ayala.7">Isaac Ayala</a>
            </ion-col>
            
          </ion-row>
          <br>
    
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides> 
</ion-content>

