<ion-content id="contenido">
  <ion-card >
    <div>
      <img class="imagen" [src]="enemigos.imagen"/>
      
    </div>
    <ion-card-content class="titulo">
      {{enemigos.nombre}}
    </ion-card-content>
    <ion-card-content class="info">
      Informacion:
    </ion-card-content>
    <ion-row>
      <ion-col>
        <img src="../../../assets/icon/genero.png" height="45px" alt="">
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Genero: {{enemigos.genero}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <img src="../../../assets/icon/planetas.png" height="45px" alt="">
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Planeta: {{enemigos.planeta}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <img src="../../../assets/icon/odio.png" height="45px" alt="">
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Raza:  {{enemigos.raza}}</ion-card-subtitle>
      </ion-col>
    </ion-row>
    
  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col>
        <img src="../../../assets/icon/descripcion.png" height="45px" alt="">
      </ion-col>
      <ion-col>
        <ion-card-subtitle>Descripcion:</ion-card-subtitle>
      </ion-col>
    </ion-row>
    <ion-card-content class="descripcion">
      {{enemigos.descripcion}}
    </ion-card-content>
    
  </ion-card>

    </ion-content>

  
  <ion-footer no-border>

    <ion-toolbar>
      <ion-icon name="caret-back-outline"></ion-icon>
      <ion-buttons slot="start" >
        <ion-button (click)="regresar()">
          <ion-icon slot="start" name="arrow-around-back"></ion-icon>
          <ion-label>Regresar</ion-label>
          
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-footer>

