ion-card-title{
    margin-top: 0vh;
}

.titulo{
    margin-top: 2vh;
}

img{
    margin-left: -2vh;
}

.imagen{
    margin-left: 0vh;
}

.imagenslide{
    
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 0px;
    border-color: #ffff;
    height: 250px;
    width: 370px;
    background-color: #f8bbd0b9;
    border-radius: 3px;
}
ion-card-title{
    color: #ffff;
    text-align: center;
    
}

.tituloprincipal{
    color: #ffff;
    text-align: center;
    font-size: 3vh;
    background-color: #f8bbd0b9;
    margin-bottom: -1px;
}
p{
    color: #ffff;
    font-size: 2vh;
    margin-left: -1vh;
    justify-content: start;
}
.especial{
    color: rgb(0, 0, 0);
    margin-top: -2vh;
    font-size: 2vh;
    margin-left: -1vh;
    justify-content: start;
}

.titulop{
    color: #ffff;
    text-align: center;
}

.tituloes{
    color: #000000;
    margin-top: 2vh;
}

.titulohue{
    color: #000000;
    margin-top: 4vh;
}
.card{
    --background:#f9ca36;
}

.card2{
    --background:rgb(230, 230, 230);
    color: #000000;
}

.card3{
    --background:#ef9a9a;
    color: #000000;
}


.titulo1{
    color: #000000;
}

.titulo2{
    color: #000000;
    text-align: center;
    margin-bottom: 2.5vh;
}
.titulo3{
    margin-top: 2vh;
    margin-left: 1vh;
}

ion-toolbar{
  
    --background:#c5cae9;
  
  }
  
  ion-title{
    color: #ffff;
    font-family: "Gill Sans", sans-serif;
    font-weight: 200;
    font-size: 20px;
    font-style: oblique;
  
  }

ion-card-title{
    color: #ffff;
}

.imagen2{
    margin-left: -4vh;
}

.imagen1{
    margin-left: 3vh;
}

ion-content{
    --background: url(../../../assets/img/2122.png)
}