<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Personajes</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content id="contenido">
  
  <ion-segment (ionChange)="segmentChanged($event)" 	swipe-gesture="true" [value]="valueSelected" color="tertiary" >

    

    <ion-segment-button value="personajes">
      
      <img src="../../../assets/icon/mago.png" style="margin-top: 2px;" height="30px" alt="">
      <ion-label>Personajes</ion-label>
    </ion-segment-button>

    <ion-segment-button value="enemigos">
      
      <img src="../../../assets/icon/horror.png" style="margin-top: 2px;" height="30px" alt="">
      <ion-label>Enemigos</ion-label>
    </ion-segment-button>

   

  </ion-segment>
  
  
  <div *ngIf="valueSelected == 'personajes'">
      
    <ion-grid>
      
        <ion-card (click)="verDetallePersonaje(persona.id)" *ngFor="let persona of personaje">
          <img class="imagen" alt="Silhouette of mountains" [src]="persona.imagen" />
          <ion-card-header>
            <ion-grid>
              <ion-row>
                <ion-col><img src="../../../assets/icon/name.png" height="60px"></ion-col>
                <ion-col><ion-card-title>{{persona.nombre}}</ion-card-title></ion-col>
              </ion-row>
            </ion-grid>
            
            
            
          </ion-card-header>
        
        </ion-card>
    </ion-grid>
  </div>
  
  <div *ngIf="valueSelected == 'enemigos'">
    
      <ion-grid>
        
          <ion-card (click)="verDetalle(personajes2.id)" *ngFor="let personajes2 of personajes">
            <img class="imagen" alt="Silhouette of mountains" [src]="personajes2.imagen" />
            <ion-card-header>
              <ion-grid>
                <ion-row>
                  <ion-col><img src="../../../assets/icon/name.png" height="60px"></ion-col>
                  <ion-col><ion-card-title>{{personajes2.nombre}}</ion-card-title></ion-col>
                </ion-row>
              </ion-grid>
              
            </ion-card-header>
          
          
          
        </ion-card>
      </ion-grid>
    
  </div>

</ion-content>











