<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" menuId="first" contentId="main">
     
  
      <ion-tab-button tab="personajes">
        
        <img src="../assets/icon/diseno-de-personaje (1).png"   height="33px" alt="">
        <ion-label><b>Personajes</b></ion-label>
        
      </ion-tab-button>

      <ion-tab-button tab="guia">
        
        <img src="../assets/icon/guia-del-usuario.png"   height="33px" alt="">
        <ion-label><b>Guia</b></ion-label>
        
      </ion-tab-button>
  
  
      
      <ion-tab-button tab="inicio">
        
        <img src="../assets/icon/boton-de-inicio.png" height="33px" alt="">
        <ion-label><b>Inicio</b></ion-label>
        
      </ion-tab-button>
      <ion-tab-button tab="secretos">
        
        <img src="../assets/icon/world.png"   height="33px" alt="">
        <ion-label><b>Secretos</b></ion-label>
        
      </ion-tab-button>
      <ion-tab-button tab="creadores">
        
        <img src="../assets/icon/creador.png"   height="33px" alt="">
        <ion-label><b>Creadores</b></ion-label>
        
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>






