<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom" menuId="first" contentId="main">
      
  
      <ion-tab-button tab="personajes">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Personajes</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="inicio">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      
  
      <ion-tab-button tab="secretos">
        <ion-icon name="planet"></ion-icon>
        <ion-label>Mundos Secretos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>




