ion-content{
    --background: url(../../../assets/img/galaxia.jpg);
  }
  
  ion-title{
    color: #ffff;
    font-family: cursive;
    font-weight: 200;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
  
  }
  ion-card-subtitle{
    color: #ffff;
    text-align: center;
    font-size: 3vh;
  }
  .img{
    height: 200px;
    width: 355px;
    margin: 10px;
    border-radius: 5px;
    }
  
  ion-card{
    --background: #ffffff8e;
  }
  
  p{
    font-family: Georgia, serif;
    font-size: 2vh;
    align-content: center;
    color: rgb(89, 87, 87);
  }
  
  ion-toolbar{
  
    --background:#b39ddb;
  
  }
  .img{
    height: 200px;
    width: 350px;
    margin-left: 0vh;
    margin-top: 3vh;
    border-radius: 8px;
    }