<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Secreto Cuatro</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>

    <ion-card-content>
      <ion-card-subtitle>Paso 1</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto4.3.jpeg" />
      <p>Esta zona se encuentra antes de llegar a la zona del jefe, en la ultima plataforma vertical veremos una estrella, y si brincamos hacia adelante se nos revelara el camino de la siguiente zona.</p>
      <br>
      <ion-card-subtitle>Paso 2</ion-card-subtitle>
      <img  class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto4.2.jpeg" />
      <p>Dentro del camino al final veremos unas plataformas que nos llevaran al siguiente hueso.</p>
      <br>
      <ion-card-subtitle>Paso 3</ion-card-subtitle>
      <img  class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto4.0.jpeg" />
      <img  class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto4.1.jpeg" />
      <p>Al momento de agarrar el hueso solo sigue hacia adelante y vereos el final del camino y solo es cuestion de bajar y continuar.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="regresar()">
      
      <h2><img src="../../../assets/icon/atras.png" height="25px" alt="">Regresar</h2>
    </ion-title>
  </ion-toolbar>
</ion-footer>




