/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

ion-title{
  font-family: monospace;
  color: black;
  
}  

ion-toolbar{
  
  --background: url(../../../assets/img/galaxia.jpg);

}

ion-title{
  color: #ffff;
  font-family: "Gill Sans", sans-serif;
  font-weight: 200;
  font-size: 25px;
  

}
.imagen{
  height: 150px;
width: 150px;
margin: 10px;
margin-left: 12.5vh;
}
img{
height: 200px;
width: 350px;
margin-left: 2vh;
margin-top: 3vh;
border-radius: 8px;
}


ion-card-title{
  font-size: 30px;
  color: #ffff;


}

ion-card-subtitle{
  color: #ffff;
  font-size: 21px;
  
  justify-content: start;
}

ion-card-content{
  font-style: oblique;
  font-size: 20px;
  color: #4d4d4d;
}

ion-content{
  --background: url(../../../assets/img/galaxia.jpg);
}







#card{
  --background: #ffeded00;
  margin: 10px;
  border-radius: 15px;
  --border-color: #f8f8f800;
}

ion-button {
  --background: #ffc4ff;
  --background-hover: #ffc4ff;
  --background-activated: #ffc4ff;
  --background-focused: #ffc4ff;

  --color: #ffff;

  --border-radius: 0;
  --border-color: #000;
  
  --border-width: 1px;

  --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);

  --ripple-color: deeppink;

  --padding-top: 10px;
  --padding-bottom: 10px;
  --border-radius: 10px;
}