<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mundos Secretos</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="card">
    <img alt="Silhouette of mountains" src="http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/fe344274d51b270.png" />
    <ion-card-header>
      <ion-card-title><h2>Bienvenido a nuestra aplicacion.</h2></ion-card-title>
      <ion-card-subtitle><h5>Esta aplicacion es para nuestros jugadores, esperamos que los sea el contenido les guste y que la informacion sobre el proyecto les guste.</h5></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      

    </ion-card-content>
  </ion-card>
</ion-content>