<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Historia</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>

    <ion-card-content>
      <p>
        Esta es el juego nos introduce en la vida de Pancho el cual es un perro como cualquier otro, le gusta dormir, comer y todo eso que los perros hacen
        , él vive con sus dueños Jason que su trabajo es ser u oficinista en una empresa reconocida de la zona Y Evelyn que es una ex militar que dejo de lado esa vida y ahora solo tiene una pequeña tienda.
      </p>
        <br>
        <p>
          Un día toda la vida normal que ellos llevan cambia por completo cuando Jason Y Evelyn son secuestrados por algo fuera de lo común. Pancho al quedarse solo y no saber que paso acude al Doc. que
          es cercano a la familia se da cuenta de lo ocurrido y tiene que ayudar a Pancho a rescatar a sus dueños así que le proporciona una nave para poder viajar atreves del espacio.
        </p>
          <br>
           <p>
            Al llegar al planeta donde se encuentran Jason Y Evelyn se da cuenta que en se encuentra enfrente de una raza de seres vivos inteligentes y que el jefe de estos es un rey que es un gran guerrero, y además que es nuestro secuestrador,
            entonces sin tener opciones Pancho tiene que enfrentarse a estos seres con el fin de vencer al Rey, acabar con su tiranía y rescatar a sus dueños para regresar a la tierra.
           </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="regresar()">
      
      <h2><img src="../../../assets/icon/atras.png" height="25px" alt="">Regresar</h2>
    </ion-title>
  </ion-toolbar>
</ion-footer>




