<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Secreto Tres</ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>

    <ion-card-content>
      <ion-card-subtitle>Paso 1</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto3.2.jpeg" />
      <p>Para llegar esta zona al momento de llegar a la ultima plataforma al llegar a la cima brincaremos a la izquierda y seguiremos el camino hasta el final, encontraremos una estrella. </p>
      <br>
      <ion-card-subtitle>Paso 2</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto3.1.jpeg" />
      
      <br><p>Despues de obtener la estrella, con un brinco hacia enfrente se relevara un camino para llegar a una plataforma movil que te llevara al hueso.</p>
      <ion-card-subtitle>Paso 3</ion-card-subtitle>
      <img class="img" alt="Silhouette of mountains" src="../../../assets/secretos/secreto3.0.jpeg" />
      <p>Al obtener el hueso, solo regresas por el mismo camino para continuar.</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title (click)="regresar()">
      
      <h2><img src="../../../assets/icon/atras.png" height="25px" alt="">Regresar</h2>
    </ion-title>
  </ion-toolbar>
</ion-footer>




